{% comment %}
If you're using Pinax, you can remove the comments around the extends
tag below. Note that without a site_base.html template, the default
MetaImage pages look ugly.

{% extends "site_base.html" %}
{% endcomment %}

{% load i18n %}

{% block body %}
    {% if user.is_authenticated %}
        <ul>
            <li><a href="{% url show_metaimages %} ">{% trans "Latest Images" %}</a></li>
            <li><a href="{% url your_metaimages %}">{% trans "Your Images" %}</a></li>
            <li><a href="{% url upload_metaimage %}">{% trans "Upload an Image" %}</a></li>
        </ul>
    {% else %}
        &nbsp;
    {% endif %}
{% endblock %}
