{% extends "metaimage/base.html" %}

{% load i18n %}
{% load metaimage_tags %}

{% comment %}
These templatetags can be used if Pinax is installed; humanize just needs
django.contrib.humanize to be in INSTALLED_APPS:
    {% load comments_tag %}
    {% load flagtags %}
    {% load humanize %}
{% endcomment %}

{% block head_title %}
    {% blocktrans %}Image Details{% endblocktrans %}
{% endblock %}

{% block body %}
    <h1>{{ the_metaimage.title }}</h1>
    
    {% if the_metaimage %}
        <div class="gallery-photo" style="margin: 0 auto; width:700px">
            {{ the_metaimage.render }}
            <p>{{ the_metaimage.caption }}</p>
            {% ifequal the_metaimage.creator request.user %}
                <p>You can <a href="{% url edit_metaimage the_metaimage.id%}">edit this image</a>.</p>
            {% endifequal %}
        </div>
        
        {% comment %}
        <div class="form-toggle">
            <p><span id="flag-toggle"><img src="{{MEDIA_URL}}pinax/images/silk/icons/flag_red.png" />{% trans "Flag as inappropriate" %}</span></p>
             <div id="flag-form" style="display: none;">
                {% flag the_metaimage request.user.id %}
             </div>
        </div>        
        <h3>Comments on This Image</h3>
        {% comments image %}
        {% endcomment %}
    {% else %}
        <p>No images were found.</p>
    {% endif %}
    
{% endblock %}

{% comment %}
{% block extra_body %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#flag-form').hide();
            $('#flag-toggle').click(function() {
                $('#flag-form').slideToggle();
                $('#flag-form').autoscroll();
                return false;
            });
            if ($('#flag-form ul.errorlist').length) {
                $('#flag-form').show();
                $('#flag-form ul.errorlist').autoscroll();
            }
        });
        
        $(document).ready(function() {
            $('#embed-code').hide();
            $('#embed-code-toggle').click(function() {
                $('#embed-code').toggle();
                return false;
            })
        });
    </script>
{% endblock %}
{% endcomment %}
