{% extends "metaimage/base.html" %}

{% load i18n %}
{% load metaimage_tags %}
{% load tagging_tags %}
{% load uni_form_tags %}

{% comment %} 
These templatetags are all available with Pinax installed, and the
corresponding apps listed in your settings.py INSTALLED_APPS:
    {% load comments_tag %}
    {% load flagtags %}
    {% load humanize %}
{% endcomment %}

{% block head_title %}
    {% blocktrans %}Edit Image Details{% endblocktrans %}
{% endblock %}

{% block body %}
    <h1>{% trans "Edit Image Details" %}</h1>
    
    <div class="gallery-photo" style="margin: 0 auto; width:700px">
        {{ metaimage.render }}
    </div>

    {% ifequal metaimage.creator request.user %}
        <h2>{% trans "Editing Image" %}</h2>
        <div>
        <form class="uniForm" method="POST" action="">
        <fieldset>
            {{ metaimage_form|as_uni_form }}
            {% csrf_token %}
            <div class="form_block">
                <input type="hidden" name="action" value="update" />
                <input type="submit" value="{% trans "Update Image" %}" />
            </div>
        </fieldset>
        </form>
        </div>
    {% endifequal %}
    
{% endblock %}
