{% extends "metaimage/base.html" %}

{% load i18n %}
{% load metaimage_tags %}
{% load tagging_tags %}
{% load uni_form %}

{% comment %} 
These templatetags are all available with Pinax installed, and the
corresponding apps listed in your settings.py INSTALLED_APPS:
    {% load comments_tag %}
    {% load flagtags %}
    {% load humanize %}
{% endcomment %}

{% block head_title %}
    {% blocktrans %}Edit Image Details{% endblocktrans %}
{% endblock %}

{% block body %}
    <h1>{% trans "Edit Image Details" %}</h1>
    
    <div class="gallery-photo">
        {{ metaimage.render }}
    </div>

    {% ifequal metaimage.creator request.user %}
        <form method="POST" action="">
        <fieldset>
            <legend>{% trans "Editing Image" %}</legend>
            {{ metaimage_form|as_uni_form }}
            <div class="form_block">
                <input type="hidden" name="action" value="update" />
                <input type="submit" value="{% trans "Update Image" %}" />
            </div>
        </fieldset>
        </form>
    {% endifequal %}
    
{% endblock %}
