{% extends "metaimage/base.html" %}

{% load i18n %}

{% comment %}
The humanize tags just needs django.contrib.humanize to be in your
settings.py INSTALLED_APPS: the others packages can be found on their
own or in Pinax:

    {% load humanize %}
    {% load pagination_tags %}
    {% load threadedcommentstags %}
{% endcomment %}

{% block head_title %}
    {% if page_title %}
        {{ page_title }}
    {% else %}
        {% blocktrans %}Latest Images{% endblocktrans %}
    {% endif %}
{% endblock %}

{% block body %}
    <h1>
    {% if page_title %}
        {{ page_title }}
    {% else %}
        {% trans "Latest Images" %}
    {% endif %}
    </h1>
    
    {% if metaimages %}
        {% comment %}{% autopaginate metaimages %}{% endcomment %}
        <div class="thumb-row clearfix">
        {% for metaimage in metaimages %}
        <div class="gallery-photo-thumb">
            {{ metaimage.render_thumbnail_linked }}
            <br>
            from {{ metaimage.creator.username }}
            <br>
            {% comment %}
            <img src="{{ MEDIA_URL }}pinax/images/silk/icons/comment.png" border="0" class="noborder" align="absmiddle" /><a href="{% url metaimage_details metaimage.id %}#imagecomments">{% get_comment_count for metaimage as commentcount %} {{ commentcount }} Comments</a><br>
            {% endcomment %}
            {% blocktrans with metaimage.view_count as view_count %}Viewed {{ view_count }} times{% endblocktrans %}
        </div>
        {% endfor %}
        </div>
        {% comment %}{% paginate %}{% endcomment %}
    {% else %}
        <p>{% trans "No images were found." %}</p>
    {% endif %}
    
{% endblock %}
