{% extends "metaimage/base.html" %}

{% load i18n %}
{% load uni_form_tags %}

{% block head_title %}
    {% blocktrans %}Upload an Image{% endblocktrans %}
{% endblock %}

{% block body %}
    <form class="uniForm" id="edit-profile" method="POST" enctype="multipart/form-data" action="">
    <fieldset class="">
    {{ metaimage_form|as_uni_form }}
    {% csrf_token %}
    <div class="form_block">
        <input type="hidden" name="action" value="upload" />
        <input type="submit" value="{% trans "Upload Image" %}" />
    </div>
    </fieldset>
    </form>
{% endblock %}
