{% extends "metaimage/base.html" %}

{% load i18n %}
{% load tagging_tags %}

{% comment %} 
These templatetags are all available with Pinax installed, and the
corresponding apps listed in INSTALLED_APPS:
    {% load humanize %}
    {% load pagination_tags %}
    {% load threadedcommentstags %}
{% endcomment %}

{% block head_title %}
    {% blocktrans %}Your Images{% endblocktrans %}
{% endblock %}

{% block body %}
    <h1>{% trans "Your Images" %}</h1>

    {% if metaimages %}
        {% comment %}{% autopaginate metaimages %}{% endcomment %}
        <div class="thumb-row clearfix">
        {% for metaimage in metaimages %}
        <div class="gallery-photo-thumb">
            {{ metaimage.render_thumbnail_linked }}<br>
            from <a href="{% url profile_detail metaimage.creator.username %}">{{ metaimage.creator.username }}</a><br>
            {% comment %}
            <img src="{{ MEDIA_URL }}pinax/images/silk/icons/comment.png" border="0" class="noborder" align="absmiddle" /><a href="{% url metaimage_details metaimage.id %}/#imagecomments">{% get_comment_count for metaimage as commentcount %} {{ commentcount }} Comments</a><br>
            {% endcomment %}
            Viewed {{ metaimage.view_count }} times
        </div>
        {% endfor %}
        </div>
        {% comment %}{% paginate %}{% endcomment %}
    {% else %}
        <p>{% blocktrans %}No images were found.{% endblocktrans %}</p>
    {% endif %}

{% endblock %}
